



article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block; }


audio,
canvas,
video {
  display: inline-block; }


audio:not([controls]) {
  display: none;
  height: 0; }


[hidden] {
  display: none; }


html {
  font-family: "Lato", "Source Sans Pro", sans-serif;
  
  font-size: 100%;
  
  -ms-text-size-adjust: 100%;
  
  -webkit-text-size-adjust: 100%;
  
  line-height: 1.5em; }


body {
  margin: 0;
  padding: 0; }


a:link {
  color: #6880b0;
  text-decoration: none; }

a:visited {
  color: #6880b0; }

a:hover,
a:focus {
  color: #ee9471; }

a:active {
  color: #ee9471; }


a:focus {
  outline: thin dotted; }


a:active,
a:hover {
  outline: 0; }



p,
pre {
  margin: 1.5em 0; }

blockquote {
  
  margin: 1.5em 30px; }


h1 {
  
  font-size: 3em;
  line-height: 1.5em;
  
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.3em;
  line-height: 2.30769em;
  margin-top: 1.15385em;
  margin-bottom: 1.15385em; }

h5 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }


abbr[title] {
  border-bottom: 1px dotted; }


b,
strong {
  font-weight: bold; }


dfn {
  font-style: italic; }


hr {
  box-sizing: content-box;
  height: 0;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0; }


mark {
  background: #ff0;
  color: #000; }


code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Lato", "Source Sans Pro", sans-serif;
  font-size: 1em;
  line-height: 1.5em; }


pre {
  white-space: pre-wrap; }


q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }


small {
  font-size: 80%; }


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }


dl,
menu,
ol,
ul {
  
  margin: 1.5em 0;
  list-style-position: inside; }

ol ol,
ol ul,
ul ol,
ul ul {
  
  margin: 0; }

dd {
  margin: 0 0 0 30px;
   }


menu,
ol,
ul {
  padding: 0 0 0 30px;
   }


img {
  
  border: 0;
  
  max-width: 100%;
  height: auto; }


svg:not(:root) {
  overflow: hidden; }


figure {
  margin: 0; }



fieldset {
  margin: 0 2px;
  
  border-color: #c0c0c0;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.9125em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.9125em; }


legend {
  border: 0;
  
  padding: 0;
   }


button,
input,
select,
textarea {
  font-family: inherit;
  
  font-size: 100%;
  
  margin: 0;
  
  max-width: 100%;
  
  box-sizing: border-box;
   }


button,
input {
  line-height: normal; }


button,
select {
  text-transform: none; }


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  
  cursor: pointer;
   }


button[disabled],
html input[disabled] {
  cursor: default; }


input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  
  padding: 0;
   }


input[type="search"] {
  -webkit-appearance: textfield;
  
  box-sizing: content-box;
   }


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }


textarea {
  overflow: auto;
  
  vertical-align: top;
   }


label {
  display: block;
  font-weight: bold; }


table {
  
  border-collapse: collapse;
  border-spacing: 0;
  
  
  
  margin-top: 1.5em;
  margin-bottom: 1.5em; }



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato/Lato-Light.ttf") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato/Lato-Regular.ttf") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/Lato/Lato-LightItalic.ttf") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato/Lato-Italic.ttf") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(../fonts/Lato/Lato-Hairline.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url(../fonts/Lato/Lato-HairlineItalic.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url("../fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight Italic"), local("SourceSansPro-ExtraLightIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightIt.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight Italic"), local("SourceSansPro-ExtraLightIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightIt.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight Italic"), local("SourceSansPro-ExtraLightIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-ExtraLightIt.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-LightIt.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-LightIt.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-LightIt.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url("../fonts/Source_Sans_Pro/SourceSansPro-It.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url("../fonts/Source_Sans_Pro/SourceSansPro-It.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url("../fonts/Source_Sans_Pro/SourceSansPro-It.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-SemiboldIt.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-SemiboldIt.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local("Source Sans Pro Semibold Italic"), local("SourceSansPro-SemiboldIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-SemiboldIt.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-BoldIt.ttf") format("truetype");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-BoldIt.ttf") format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }


@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local("Source Sans Pro Bold Italic"), local("SourceSansPro-BoldIt"), url("../fonts/Source_Sans_Pro/SourceSansPro-BoldIt.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

.block-system-branding-block {
  float: left; }

.block-system-breadcrumb-block {
  clear: both; }

.region-breadcrumb-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: none; }
  .region-breadcrumb-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 1280px) {
    .region-breadcrumb-wrapper {
      display: block; } }

@media (min-width: 1280px) {
  .region-breadcrumb {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%; } }

button,
.button, .button-primary, .button-primary:visited, .button-primary:link, .cta-type-primary a, .button-secondary, .button-secondary:visited, .button-secondary:link, .cta-type-secondary a, .button-tertiary, .button-tertiary:visited, .button-tertiary:link, .cta-type-tertiary a {
  border-radius: 6px;
  border: 2px solid transparent;
  display: inline-block;
  padding: .66em 1.5em; }

.button-primary,
.button-primary:visited,
.button-primary:link,
.cta-type-primary a {
  background-color: #ec8a63;
  border: 2px solid #ea794d;
  color: #fff; }
  .button-primary:active, .button-primary:hover,
  .button-primary:active:visited,
  .button-primary:active:link,
  .cta-type-primary a:active,
  .button-primary:hover:visited,
  .button-primary:hover:link,
  .cta-type-primary a:hover {
    background-color: #e97243;
    border: 2px solid #899cc2;
    color: #fff; }

.button-secondary,
.button-secondary:visited,
.button-secondary:link,
.cta-type-secondary a {
  background-color: #6880b0;
  border: 2px solid #465b86;
  color: #fff; }
  .button-secondary:active, .button-secondary:hover,
  .button-secondary:active:visited,
  .button-secondary:active:link,
  .cta-type-secondary a:active,
  .button-secondary:hover:visited,
  .button-secondary:hover:link,
  .cta-type-secondary a:hover {
    background-color: #5772a7;
    border: 2px solid #833010;
    color: #fff; }

.button-tertiary,
.button-tertiary:visited,
.button-tertiary:link,
.cta-type-tertiary a {
  background-color: white;
  border: 2px solid #e0d4d7;
  color: #6880b0; }
  .button-tertiary:active, .button-tertiary:hover,
  .button-tertiary:active:visited,
  .button-tertiary:active:link,
  .cta-type-tertiary a:active,
  .button-tertiary:hover:visited,
  .button-tertiary:hover:link,
  .cta-type-tertiary a:hover {
    background-color: #fefbfa;
    border: 2px solid #f9d9cc;
    color: #6880b0; }

.cta-type-primary,
.cta-type-secondary,
.cta-type-tertiary {
  display: inline-block; }

.color-blue-powder {
  color: #6880b0; }

.color-orange-slice {
  color: #ee9471; }

.color-white {
  color: #fff; }

.color-whitesmoke {
  color: whitesmoke; }

.color-dark-grey {
  color: #444444; }

.bgcolor-orange-slice {
  background-color: #ee9471; }

.bgcolor-blue-powder {
  background-color: #6880b0; }

.bgcolor-white {
  background-color: #fff; }

.bgcolor-whitesmoke {
  background-color: whitesmoke; }

.bgcolor-black {
  background-color: black; }

.bgcolor-light-peach {
  background-color: #fdf4f1; }

.bgcolor-vivid-orange {
  background-color: #ef5909; }

.bgcolor-dark-grey {
  background-color: #444444; }

.bgcolor-medium-grey {
  background-color: #cccccc; }

.bgcolor-light-grey {
  background-color: #f4f4f4; }

.content-area {
  position: relative; }

.background-wrapper.mobile-bg-image-behavior-hide, .background-wrapper.mobile-bg-image-behavior-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }

.content-item .background-wrapper.mobile-bg-image-behavior-hide, .content-item .background-wrapper.mobile-bg-image-behavior-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50; }

@media (min-width: 768px) {
  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100; } }

.background-wrapper.mobile-bg-image-behavior-hide img {
  display: none; }
  @media (min-width: 768px) {
    .background-wrapper.mobile-bg-image-behavior-hide img {
      display: inherit; } }

@media (min-width: 480px) {
  .content-area-columns {
    margin-left: -1.38889%;
    margin-right: -1.38889%; } }

.content-items {
  overflow: hidden; }

.content-item {
  position: relative; }
  @media (min-width: 480px) {
    .content-area-layout-four-column .content-item {
      width: 47.22222%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%; }
    .content-area-layout-three-column .content-item {
      width: 30.55556%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%; }
    .content-area-layout-two-column .content-item {
      width: 47.22222%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%; }
    .content-area-layout-one-column .content-item {
      width: 97.22222%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%; } }
  @media (min-width: 768px) {
    .content-area-layout-four-column .content-item {
      width: 22.22222%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%; }
    .items-padding-none.content-area-layout-four-column .content-item {
      float: left;
      width: 25%;
      margin: 0; } }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300; }

.menu--main-outer-wrapper {
  position: relative; }

.menu--main {
  float: right;
  font-size: 28px;
  font-weight: 300;
  text-align: right; }
  @media (min-width: 768px) {
    .menu--main {
      font-size: 22px; } }

.header-pinned .menu--main__list li a {
  padding: 18px 0 14px; }

.menu--main__list {
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 30px 40px;
  opacity: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 2px;
  visibility: hidden; }
  .menu--main__list.burger-open {
    box-shadow: #dde3ed 1px 1px 1px, #fceae3 0 0 5px 1px inset;
    opacity: 1;
    visibility: visible; }
  .menu--main__list li a {
    -webkit-transition-property: color, border;
    transition-property: color, border;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    display: inline-block;
    min-width: 170px;
    padding: 14px 0; }
    .menu--main__list li a.is-active, .menu--main__list li a:hover {
      color: #ee9471; }
  @media (min-width: 768px) {
    .menu--main__list {
      background-color: transparent;
      opacity: 1;
      padding: 0;
      position: static;
      text-align: left;
      visibility: visible; }
      .menu--main__list.burger-open {
        box-shadow: none; }
      .menu--main__list li {
        display: inline-block;
        margin: 0 20px; }
        .menu--main__list li a {
          border-bottom: 3px solid transparent;
          min-width: 0;
          padding: 38px 0; }
          .menu--main__list li a.is-active, .menu--main__list li a:hover {
            border-bottom-color: #ee9471; } }

.burger-wrapper {
  position: relative; }

.burger {
  -webkit-transition: border-bottom 0.5s ease-in-out;
  transition: border-bottom 0.5s ease-in-out;
  background: none;
  border: 0;
  border-bottom: 4px solid #6880b0;
  display: inline-block;
  outline: 0;
  margin: 16px 16px 0 0;
  padding: 0;
  width: 28px; }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .burger:before {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    border-bottom: 4px solid #6880b0;
    content: '';
    display: block;
    margin-bottom: 5px;
    width: 100%; }
  .burger:after {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    border-bottom: 4px solid #6880b0;
    content: '';
    display: block;
    margin-bottom: 5px;
    width: 100%; }
  .burger.open {
    -webkit-transition: border-bottom 0.5s ease-in-out;
    transition: border-bottom 0.5s ease-in-out;
    border-bottom: 4px solid transparent; }
    .burger.open:before {
      -webkit-transform: rotate(-405deg) translateY(6px) translateX(-8px);
      transform: rotate(-405deg) translateY(6px) translateX(-8px);
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out;
      border-bottom: 4px solid #ee9471; }
    .burger.open:after {
      -webkit-transform: rotate(405deg) translateY(1px);
      transform: rotate(405deg) translateY(1px);
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out;
      border-bottom: 4px solid #ee9471; }
  @media (min-width: 768px) {
    .burger {
      display: none; } }

.layout-container {
  font-weight: 300;
  font-size: 1.2em; }

.page-title {
  margin-top: 0; }

main {
  padding: 0 10px; }

ul.tabs.primary {
  border-bottom: 1px solid #cccccc; }

.region-content-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .region-content-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.region-content {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.38889%; }

.region-footer-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .region-footer-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.region-footer {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.38889%;
  margin-top: 1.38889%; }

.header-duplicate {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.region-header-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .region-header-wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.header-pinned {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%; }
  .toolbar-fixed .header-pinned {
    top: 40px; }
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open .header-pinned {
    top: 80px; }
  .header-pinned .region-header {
    min-height: 68px;
    padding-top: 10px; }
  .header-pinned .site-logo {
    height: 60px; }
    .header-pinned .site-logo img {
      width: 110px; }
    @media (min-width: 768px) {
      .header-pinned .site-logo {
        margin-top: 0; } }
  .header-pinned .region-breadcrumb-wrapper {
    display: none; }

.region-header {
  background-image: -owg-linear-gradient(#fff, #fff 97%, #fefbfa 99%, #dde3ed);
  background-image: -webkit-linear-gradient(#fff, #fff 97%, #fefbfa 99%, #dde3ed);
  background-image: linear-gradient(#fff, #fff 97%, #fefbfa 99%, #dde3ed);
  overflow: hidden;
  *zoom: 1;
  min-height: 68px;
  margin-bottom: 1.38889%;
  overflow: visible;
  padding-top: 10px;
  width: 100%; }
  @media (min-width: 768px) {
    .region-header {
      min-height: 107px;
      padding-top: 20px; } }
  @media (min-width: 1280px) {
    .region-header {
      width: 97.22222%;
      float: left;
      margin-left: 1.38889%;
      margin-right: 1.38889%; } }

.site-logo {
  display: inline-block;
  height: 90px;
  margin-left: 10px;
  margin-top: 0;
  position: relative;
  width: 150px; }
  .site-logo img {
    position: absolute;
    top: 0;
    width: 110px; }
  @media (min-width: 768px) {
    .site-logo {
      margin-top: 5px; }
      .site-logo img {
        width: auto; } }
  @media (min-width: 1280px) {
    .site-logo {
      margin-left: 0; } }

#blog-top {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  overflow: hidden;
  *zoom: 1; }

#blog-body {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.38889%; }

.blog-body-left, .blog-body-right {
  width: 47.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%; }

#blog-content-areas {
  width: 97.22222%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.38889%; }
